Figures/
GCMassProfiles_2021-04-29_submitted/
GCMassProfiles_2021-08-23.pdf
GCMassProfiles_2021-08_20_backup.zip
GCMassProfiles_2021-08_23_backup.zip
GCMassProfiles_2021-08_25_backup.zip
GCMassProfiles_2021-08_26_backup.zip
GCMassProfiles_2021-08_26_resubmitted/
GCMassProfiles_DRAFT_2021-08-18.pdf
GCMassProfiles_DRAFT_2021-08-23.pdf
GCMassProfiles_DRAFT_2021-08-25.pdf
Sloan_app_version/
arxiv_version/
junk/
results/
.Rhistory
*.png
RMarkdownDocs/set-up_and_testing.log
screenshots/
RMarkdownDocs/.Rhistory
RScripts/test_and_check_GCmcmc.r
limepy_old/
RScripts/.Rhistory
Refs/
limepy/
mockdata/
.Rproj.user
*~
